@tailwind base;
@tailwind components;
@tailwind utilities;

html,
  body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: clamp(14px, calc(10.4px + 1vw), 24px);
  }

  html {
    scroll-behavior: smooth;
    min-height: 500vh;
    background-color: black;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 1px,
      rgba(0, 9, 29, 1) 1px
    );
    background-size: 20px 20px;
  }