---
interface Props {
    className?: string,
    href?: string,
    target?: string
}
const {className, href, target} = Astro.props;
---

<a href={href || "#top"} class=`no-underline inline-flex shineAnimation items-center justify-center rounded-xl border border-gray-800 bg-[linear-gradient(110deg,#000103,45%,#d5d8dd,55%,#000103)] bg-[length:300%_100%] px-3 font-medium text-gray-300 transition-colors hover:outline-none hover:ring-2 hover:ring-gray-700 hover:ring-offset-2 hover:ring-offset-gray-50 text-sm ${className}` target={target || "_blank"}>
    <slot />
</a>

<style>
@keyframes backgroundShine {
    0%{
        background-position: 0 0;
    }
    100% {
        background-position: -300% 0;
    }
}
.shineAnimation {
	animation:  backgroundShine 10s linear infinite;
}
</style>