---
import MailIcon from "@/assets/MailIcon.astro"
import LinkedInIcon from "@/assets/LinkedInIcon.astro"
---
<div class="size-[50px] fixed bottom-0 right-0 z-40">
    <button><MailIcon /></button>
    <button><LinkedInIcon /></button>
</div>