---
import logo from "@/assets/logo_s-bg.png"
import bgHeader from "@/assets/bg-header.jpg"
import FluidCursor from "@/animations/FluidCursor"
---


<header class="fixed top-0 ani sticky-parallax-header h-screen w-screen" style={`background-image: url(${bgHeader.src});`}>
    <FluidCursor />
    <nav>
        <img src={logo.src} alt="Logo" class="size-14">
    </nav>
</header>
<style>
@keyframes sticky-parallax-header-move-and-size {
    from {
        background-position: 50% 0;
        height: 100vh;
        font-size: calc(4vw + 1em);
    }
    to {
        background-position: 50% 100%;
        background-color: #0b1584;
        height: 10vh;
        font-size: 2em;
    }
}

.sticky-parallax-header {
    background-size: contain;
    animation: sticky-parallax-header-move-and-size linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;
}
</style>