---
interface Props {
    content: string;
}
const {content}=Astro.props
const words = content.split(" ")
---
<div class="text-container">
    {
        words.map((palabra) =>
            <div class="inline-flex flex-wrap">
                {palabra.split("").map((letra)=>
                    <span class="inline-block">
                        {letra}
                    </span>
                )}
            </div>
            <div class="inline"> </div>
        )
    }
</div>

<style>
    .text-container span {
        animation: colorChange 4s infinite;
        animation-delay: calc(0.5s * var(--index));
        &:hover{
            color: red !important;
        }
    }

    @keyframes colorChange {
        0%, 100% { color: rgb(59, 130, 246); }
        25% { color: rgb(168, 85, 247); }
        50% { color: rgb(68, 220, 38); }
        75% { color: rgb(234, 179, 8); }
    }
</style>

<script>
    document.querySelectorAll('.text-container').forEach(container => {
        container.querySelectorAll('span').forEach((span, index) => {
            span.style.setProperty('--index', index.toString());
        });
    });
</script>