---
import Project from "@/components/Project.astro";

import p1i1 from "@/assets/P1_InicioDesktop.webp"
import p1i2 from "@/assets/P1_MobileVersion.webp"
import p1i3 from "@/assets/P1_MenuMobile.webp"
import p1i4 from "@/assets/P1_PreloadDesktop.webp"


const projects = [
	{title: "hola2", description: "lorem2", image: [], imageDescription: [""]},
	{title: "Portafolio", description: "Es un portafolio construido con Astro, con integraciones en React y estilizado con TailwindCSS. Esta página no solo muestra proyectos y habilidades, sino que también está optimizada para un rendimiento excepcional, accesibilidad y una experiencia fluida para el visitante.", image: [p1i1.src, p1i2.src, p1i3.src, p1i4.src], imageDescription: ["Imagen - Página de inicio para ordenadores", "Imagen - Versión móvil de la web", "Imagen - Versión móvil del menú de navegación", "Imagen - Página de carga para ordenadores"]}
]

const totalCards = projects.length;
---

<section class="mt-8 mb-20">
	<ul class="flex flex-col max-w-[1100px] cardSection" 
	style={{ "--total-cards": totalCards}}>
		{projects.map((project, index) => {
			return (
				<Project 
					brightness={index === totalCards - 1 ? "100%" : undefined} 
					id={index + 1} 
					{...project} 
				/>
			);
		})}
	</ul>
</section>

<style>
.cardSection {
	--card-height: calc(100% / var(--total-cards)); 
	view-timeline-name: --cardsContainer; 
}
</style>