---
import logo from "@/assets/logo_s-bg.png"
import bgHeader from "@/assets/bg-header.jpg"
import '@fontsource/major-mono-display';
import '@fontsource/bungee-shade';
import PrincipalText from "@/components/PrincipalText.astro";
---
<!-- breakpoints tailwind min-width:
    lg: 1024px
    md:768px
    sm:640px -->

<header class="fixed top-0 sticky-parallax-header h-screen w-screen bg-cover text-white" style={`background-image: url(${bgHeader.src});`}>
    <nav class="flex justify-center w-screen">
        <ul class="lg:compu celu md:tablet  animation flex gap-12  backdrop-blur-lg p-2 border-black border rounded-md h-min font-mono">
            <li><a href="#inicio" class="decrypt scroll-top" data-value="Inicio">Inicio</a></li>
            <li><a href="#sobreMi" class="decrypt" data-value="Sobre Mi">Sobre Mi</a></li>
            <li><a href="#proyectos" class="decrypt" data-value="Proyectos">Proyectos</a></li>
        </ul>
    </nav>
    <section class="flex items-center justify-center h-4/5 gap-12">
        <a href="#inicio" class="scroll-top">
            <img src={logo.src} alt="Logo" class="size-14 sticky-parallax-image">
        </a>
        <div class="flex flex-col flex-wrap content-center justify-center text-2xl sticky-parallax-text bg-[#0000008a] backdrop-blur-md font-display ">
            <PrincipalText content="Desarrollador FullStack" />
            <PrincipalText content="Java - Springboot" />
            <PrincipalText content="ReactJS - Astro" />
        </div>
    </section>
</header>
<style>

@keyframes sticky-parallax-text-principal {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.sticky-parallax-text {
    animation: sticky-parallax-text-principal linear forwards;
    animation-timeline: scroll();
    animation-range: 40vh 70vh;
}
@keyframes sticky-parallax-move-image {
    0% {
        transform: scale(2.9);
        margin-left: 8vw;
    }
    50%{
        transform: scale(1);
    }
    100% {
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.sticky-parallax-image{
    animation: sticky-parallax-move-image linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;
}

@keyframes sticky-parallax-header-move-and-size {
    from {
        background-position: 50% 0;
        height: 100vh;
    }
    to {
        background-position: 50% 100%;
        height: 10vh;
    }
}

.sticky-parallax-header {
    animation: sticky-parallax-header-move-and-size linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;
    background-position: 50% 50%;
}
</style>
<script>
    document.querySelectorAll('.scroll-top').forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    });
</script>
<script src="/src/animations/decrypted.js" is:inline/>