---
import ContainerWithLight from "@/components/ContainerWithLight";
import image from "@/assets/sobremi.jpeg"
---
<main class="h-screen w-full flex justify-center ">
    <ContainerWithLight className="w-[30rem] text-white mt-14" client:load>
        <img src={image.src} alt="Alejo Kannemann - Foto" loading="lazy" class="object-cover h-[20rem] w-[20rem]">
        <h2>Sobre mi</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis doloribus quos tempore reprehenderit rem sit laudantium. Deleniti magni alias dolore repellat eveniet. Ab vero dolores voluptate voluptatum, ipsa tempore facilis?</p>
    </ContainerWithLight>
</main>

<style>
</style>