<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/logo_s-bg-compressed.webp"/>
		<meta name="generator" content={Astro.generator} />
		<title>Kannemann Alejo - Portafolio</title>
	</head>
	<body>
		<slot />
	</body>
	<script src="/src/animations/decrypted.js" is:inline/>
</html>

<style>
	html,
	body {
		margin: 0;
		box-sizing: border-box;
		padding: 0;
		font-size: clamp(14px, calc(10.4px + 1vw), 24px);
	}
	body{
		padding-top: 100vh;
	}

	html{
		min-height: 500vh;
		background-color: black;
		background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, rgba(0, 9, 29, 1) 1px);
		background-size: 20px 20px;
	}
	
</style>
