---
import LoaderWeb from "@/preloader/LoaderWeb.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import ImageIcon from "@/../public/logo_s-bg-compressed.webp"
import "@/style/globalStyle.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href={ImageIcon.src} />
    <title>Kannemann Alejo - Portafolio</title>
  </head>
  <body>
    <LoaderWeb />
    <div id="inicio" class="pt-[100vh]"/>
    <Header />
    <slot />
	  <Footer />
    <div id="modal"></div>
  </body>
</html>
