---
import LoaderWeb from "@/preloader/LoaderWeb.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import ImageIcon from "@/../public/logo_s-bg-compressed.webp"
import "@/style/globalStyle.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- HTML Meta Tags -->
    <title>Kannemann Alejo - Portafolio</title>
    <meta name="description" content="¡Bienvenido a mi portafolio web!  
    Aquí podrás conocer más sobre mí, explorar mis proyectos, descubrir mi experiencia profesional, habilidades, y las tecnologías que he aprendido a lo largo del tiempo. Además, encontrarás mis datos de contacto por si deseas conectar o colaborar. ¡Gracias por visitar!">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://kannemanna.github.io/portfolio/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kannemann Alejo - Portafolio">
    <meta property="og:description" content="¡Bienvenido a mi portafolio web!  
    Aquí podrás conocer más sobre mí, explorar mis proyectos, descubrir mi experiencia profesional, habilidades, y las tecnologías que he aprendido a lo largo del tiempo. Además, encontrarás mis datos de contacto por si deseas conectar o colaborar. ¡Gracias por visitar!">
    <meta property="og:image" content="https://opengraph.b-cdn.net/production/images/0fc16437-7e79-4775-83ee-08d566e9538c.png?token=zXwV8SoDKa7wUVMK_Ks5vMZCJHx6obLORjE-9cT_olc&height=720&width=960&expires=33280290724">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="kannemanna.github.io">
    <meta property="twitter:url" content="https://kannemanna.github.io/portfolio/">
    <meta name="twitter:title" content="Kannemann Alejo - Portafolio">
    <meta name="twitter:description" content="¡Bienvenido a mi portafolio web!  
    Aquí podrás conocer más sobre mí, explorar mis proyectos, descubrir mi experiencia profesional, habilidades, y las tecnologías que he aprendido a lo largo del tiempo. Además, encontrarás mis datos de contacto por si deseas conectar o colaborar. ¡Gracias por visitar!">
    <meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/0fc16437-7e79-4775-83ee-08d566e9538c.png?token=zXwV8SoDKa7wUVMK_Ks5vMZCJHx6obLORjE-9cT_olc&height=720&width=960&expires=33280290724">
    <link rel="icon" type="image/webp" href={ImageIcon.src} />
  </head>
  <body>
    <LoaderWeb />
    <div id="inicio" class="pt-[100vh]"/>
    <Header />
    <slot />
	  <Footer />
    <div id="modal"></div>
  </body>
</html>
